@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Light"), local("GTWalsheimPro-Light"),
    url("GTWalsheimPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"),
    url("GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Thin"), local("GTWalsheimPro-Thin"),
    url("GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"),
    url("GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"),
    url("GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro Ultra";
  src: local("GT Walsheim Pro Ultra Light"), local("GTWalsheimPro-UltraLight"),
    url("GTWalsheimPro-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Black"), local("GTWalsheimPro-Black"),
    url("GTWalsheimPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
