.land-style {
  background: url("../../assets/blob-scene-haikei\ \(5\).svg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
