.editor-container {
  height: 100vh;
}

.editor-header {
  color: #d4d4d4;
  background-color: #1e1e1e;
  height: 7vh;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
}

.editor-main-horizontal {
  display: flex;
  height: 88vh;
}

.editor-main-vertical {
  display: flex;
  flex-direction: column;
}

.editor-footer {
  display: flex;
  height: 5vh;
  color: #d4d4d4;
  background-color: #1e1e1e;
  padding: 0 1rem;
}
