.editor-container {
  height: 100vh;
}

.editor-header {
  height: 6.5vh;
}

.editor-main-horizontal {
  display: flex;
  height: 90vh;
}

.editor-footer {
  height: 3.5vh;
}

.css-13o7eu2 {
  display: flex !important ;
  flex-direction: column !important;
}

.css-1ondw75 {
  outline: none !important;
}

.css-1brdcqb:active {
  background: none !important;
}

.css-pccucp {
  border-bottom: 1px solid #1b252d !important;
}

*:focus {
  box-shadow: none !important;
}

/* =======================================================================  Split box */

.gutter.gutter-horizontal {
  background-color: #4c5b67;
}

.gutter.gutter-horizontal:hover {
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-color: #4c5b67;
}

/* ======================================================================= Editor preview */
.preview-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  height: 90vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

._console {
  /* border: 2px solid blue; */
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 0;
  color: red;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}
