.editor-header {
  color: #d4d4d4;
  background-color: #1e1e1e;
  height: 3rem;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
}

.editor-header-details {
  display: flex;
}
.editor-header-details-section {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
