@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

/* ======================================================================= editor */
.editor-main-horizontal {
  display: flex;
  height: 90vh;
}

.css-13o7eu2 {
  display: flex !important ;
  flex-direction: column !important;
}

.css-tj4v59 {
  outline: none !important;
}

.css-tj4v59:active {
  background: none !important;
}

.css-qrhhjl {
  border-bottom: 1px solid #1b252d !important;
}

*:focus {
  box-shadow: none !important;
}

/* =======================================================================  Split box */

.gutter.gutter-horizontal {
  background-color: #4c5b67;
}

.gutter.gutter-horizontal:hover {
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-color: #4c5b67;
}

/* =======================================================================  preview */
.preview-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  height: 90vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 0;
  color: red;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}

/* =======================================================================  preview */

.fadeInAnim {
  animation: fadeInAnimation 0.5s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =======================================================================  console */

.console_style {
  align-items: center;
  justify-content: center;
  border: solid 1px #ddd;
  background: #f0f0f0;
  position: absolute;
}
