@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* ======================================================================= editor */
.editor-main-horizontal {
  display: flex;
  height: 90vh;
}

.css-13o7eu2 {
  display: flex !important ;
  flex-direction: column !important;
}

.css-tj4v59 {
  outline: none !important;
}

.css-tj4v59:active {
  background: none !important;
}

.css-qrhhjl {
  border-bottom: 1px solid #1b252d !important;
}

*:focus {
  box-shadow: none !important;
}

/* =======================================================================  Split box */

.gutter.gutter-horizontal {
  background-color: #4c5b67;
}

.gutter.gutter-horizontal:hover {
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-color: #4c5b67;
}

/* =======================================================================  preview */
.preview-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  height: 90vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 0;
  color: red;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}

/* =======================================================================  preview */

.fadeInAnim {
  animation: fadeInAnimation 0.5s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =======================================================================  console */

.console_style {
  overflow-x: hidden;
  overflow-y: auto;
  background: #171e25;
  position: absolute;
}

/* =======================================================================  supabase ui editor */

.sbui-space-row {
  padding: 5px 10px 0px 10px;

  @apply bg-editor_primary;
}

/* text inside tab */
.sbui-btn-container {
  width: 50px;
}

.sbui-btn-container > button {
  width: 100%;
}

/* text inside tab */
.sbui-tab-button-underline {
  display: flex;
  justify-content: center;
  color: #6b7280;
  font-size: 14px;
}

.sbui-tab-button-underline:hover {
  color: #ffffff;
}

/* active text inside tab */
.sbui-tab-button-underline--active {
  color: #ffffff;
}

/* divider*/
.sbui-divider {
  border: none !important;
}

.sbui-space-col {
  height: 100%;
}

#jstree,
#htmltree,
#csstree {
  height: 100%;
}
