html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.editor {
  width: 50vw;
}

.preview {
}

.format {
  position: fixed;
  z-index: 99;
  left: 35%;
}

.JSXElement.JSXIdentifier {
  color: #e06c75 !important;
}

.JSXElement.JSXText {
  color: #d4d4d4 !important;
}

.JSXElement.JSXBracket {
  color: #d4d4d4 !important;
}
