@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Quicksand:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  height: 100% !important;
}

*:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

.logo {
  @apply font-fredericka bg-green-500 text-tree-hard flex items-center justify-center;
}

/* react-split ============================================================================= */
.gutter {
  @apply bg-tree-border;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/* rc-tabs ============================================================================= */

.programming-language-tabs {
  display: flex;
  height: 100%;
  flex-direction: column;
  border: none !important;
  @apply bg-tree-hard;
}

.programming-language-tabs .rc-tabs-tab:hover {
  @apply bg-tree-soft;
}

.programming-language-tabs .rc-tabs-tab-active {
  @apply text-green-500;
}

.programming-language-tabs .rc-tabs-tab-btn {
  min-width: 70px;
  display: flex;
  justify-content: center;
  @apply cursor-pointer py-2 text-gray-600;
}

.programming-language-tabs .rc-tabs-content-holder {
  padding-top: 20px;
}

/* */
.option-modal-tabs {
  height: 100%;
  border: none !important;
}

.option-modal-tabs .rc-tabs-tabpane {
  @apply p-5 bg-tree-hard;
}

.option-modal-tabs .rc-tabs-nav-wrap {
  border-right: 1px solid black;
  @apply pt-5 bg-tree-soft;
}

.option-modal-tabs .rc-tabs-tab {
  padding-left: 10px;
  @apply font-medium text-sm;
}

.option-modal-tabs .rc-tabs-tab:hover {
  @apply bg-tree-hard;
}

.option-modal-tabs .rc-tabs-tab-active {
  @apply text-green-500;
}

.rc-tabs-content-holder,
.rc-tabs-content,
.rc-tabs-tabpane {
  height: 100%;
}

/*react-modal ======================================================================= */

.ReactModal__Content {
  width: 65% !important;
  @apply text-white;
}

@media only screen and (max-width: 1100px) {
  .ReactModal__Content {
    width: 90% !important;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* preview ======================================================================= */
.preview-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @apply bg-tree-hard;
}

.preview-wrapper iframe {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 0;
  color: red;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}

/* console ======================================================================= */

.console_style {
  overflow-x: hidden;
  overflow-y: auto;
}
