/* react-split ============================================================================= */

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-color: #eee;
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: col-resize;
}

/* rc-tabs ============================================================================= */

.programming-language-tabs {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.programming-language-tabs .rc-tabs-tab:hover {
}

.programming-language-tabs .rc-tabs-tab-active {
}

.programming-language-tabs .rc-tabs-tab-btn {
  min-width: 70px;
  display: flex;
  justify-content: center;
  @apply cursor-pointer py-2 text-gray-600;
}

.programming-language-tabs .rc-tabs-content-holder {
  padding-top: 20px;
}

/* Modal ============================================================================= */
.option-modal-tabs {
  height: 100%;
  border: none !important;
  color: white;
}

.option-modal-tabs .rc-tabs-tabpane {
  @apply p-5 bg-tree-hard;
}

.option-modal-tabs .rc-tabs-nav-wrap {
  border-right: 1px solid black;
  @apply pt-5 bg-tree-soft;
}

.option-modal-tabs .rc-tabs-tab {
  padding-left: 10px;
  @apply font-medium text-sm;
}

.option-modal-tabs .rc-tabs-tab:hover {
}

.option-modal-tabs .rc-tabs-tab-active {
  @apply text-green-500;
}

.rc-tabs-content-holder,
.rc-tabs-content,
.rc-tabs-tabpane {
  height: 100%;
}

/* preview ======================================================================= */
.preview-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview-wrapper iframe {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 0;
  color: red;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}

/* ============================================================== spinner*/
.loader-spinner {
  border-top-color: #34d399;
  -webkit-animation: spinner 0.7s linear infinite;
  animation: spinner 0.7s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
