@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100% !important;
  @apply dark:text-dark_mode_white;
}

*:focus {
  outline: none !important;
}

input {
  @apply rounded !important;
}

button {
  @apply rounded !important;
}

button:focus {
  outline: none !important;
}

.nav_item {
  @apply mr-5 tracking-wide hover:text-gray-500 cursor-pointer;
}

.auth_form {
  @apply flex flex-col mt-3 w-80 md:w-3/6 lg:w-2/6;
}

.hero-pattern {
  background: url("/wp1851993-low-poly-wallpapers.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input,
textarea,
select {
  background: transparent !important;
  @apply border-2 border-gray-300;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: none;
}
