@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Quicksand:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}

*:focus {
  outline: none;
}

.logo {
  @apply font-fredericka bg-green-500 text-tree-hard  flex items-center justify-center;
}

/* react-split ============================================================================= */
.gutter {
  @apply bg-tree-border;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/* rc-tabs ============================================================================= */
.rc-tabs {
  height: 89vh;
  display: flex;
  flex-direction: column;
  @apply bg-tree-hard;
}

.rc-tabs-nav-operations {
  display: none;
}

.rc-tabs-nav-list {
  display: flex;
  height: 1.5rem;
  overflow: hidden;
}

.rc-tabs-content-holder,
.rc-tabs-content,
.rc-tabs-tabpane {
  height: 100%;
}

.rc-tabs-content {
  padding-top: 15px;
}

.rc-tabs-tab {
  min-width: calc(100% / 3);
  display: flex;
  justify-content: center;
  @apply cursor-pointer text-gray-600;
}

.rc-tabs-tab-active {
  @apply text-green-500 border-t-2 border-green-500;
}

.rc-tabs-tab-btn {
  height: 100%;
}

/* preview ======================================================================= */
.preview-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @apply bg-tree-hard;
}

.preview-wrapper iframe {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 0;
  color: red;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}

/* console ======================================================================= */

.console_style {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}

/* Pages  ======================================================================= */
.Dropdown-option {
  @apply flex items-center hover:text-green-500 h-9;
}
