@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

*:focus {
  outline: none;
}

/* react-split ============================================================================= */
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/* rc-tabs ============================================================================= */
.rc-tabs {
  height: 89vh;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  @apply bg-tree-hard;
}

.rc-tabs-nav-operations {
  display: none;
}

.rc-tabs-nav-list {
  display: flex;
  height: 1.5rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  @apply bg-tree-hard border-r border-l border-t border-tree-border;
}

.rc-tabs-content-holder,
.rc-tabs-content,
.rc-tabs-tabpane {
  height: 100%;
}

.rc-tabs-content {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 15px;
  @apply bg-tree-soft border border-tree-border;
}

.rc-tabs-tab {
  min-width: calc(100% / 3);
  display: flex;
  justify-content: center;
  @apply cursor-pointer text-gray-600;
}

.rc-tabs-tab-active {
  color: #ffffff;
  @apply bg-tree-soft;
}

.rc-tabs-tab-btn {
  height: 100%;
}

/* preview ======================================================================= */
.preview-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px;
  @apply bg-tree-hard;
}

.preview-wrapper iframe {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 0;
  color: red;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}

/* console ======================================================================= */

.console_style {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  border-radius: 5px;
  @apply bg-tree-soft border border-tree-border mt-5;
}

/* Pages  ======================================================================= */
